<div id="timer" class="m-auto grid grid-cols-4 gap-x-4 font-bold text-center text-4xl">
    <span>00</span>
    <span>00</span>
    <span>00</span>
    <span>00</span>

    <span>Days</span>
    <span>Hours</span>
    <span>Minutes</span>
    <span>Seconds</span>

    <script src="./countdown.ts"></script>
</div>
